<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather
    </ion-title>

    <ion-buttons slot="end">
      <ion-button id="open-settings-modal">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    @for (location of locations; track $index) {
      <ion-card>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-no-padding">
            <ion-card-header>
              <ion-card-title>{{ location.name }}</ion-card-title>
              <ion-card-subtitle>{{ location.weather[0].description }}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <h2>{{ location.main.temp }} ℃/F</h2>
            </ion-card-content>
          </ion-col>

          <ion-col class="ion-no-padding ion-text-right">
            <img src="https://openweathermap.org/img/wn/{{location.weather[0].icon}}@4x.png" alt="Weather Icon">
          </ion-col>
        </ion-row>
      </ion-card>
    }

  </div>

  <p>{{ message }}</p>
  <ion-modal trigger="open-settings-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list [formGroup]="form">
          <ion-item>
            <ion-select formControlName="units">
              <ion-select-option value="metric">Metric</ion-select-option>
              <ion-select-option value="imperial">Imperial</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
